.venv/
.cursorignore
__pycache__/
*__pycache__*/
output/
auxil/
__legacy__/files/
.idea/
created_resumes/
.env

.cadence
/easy_applier/linkedin_cookies.pkl
/easy_applier/chrome_profile/
/easy_applier/chrome-data/
/easy_applier/chromedriver-win64/
/__legacy__/
**.coverage
